[2020-06-06 22:10] otakup0pe opened #1 "crash on logout"
[code]

only putting this here so we don't forget 😈

[2020-06-07 08:48] otakup0pe commented on #1
based it what it says on the tin https://github.com/MrCrayfish/MrCrayfishGunMod/issues/35 matches but the crashlogs are on dead links 💀

[2020-06-07 08:49] otakup0pe commented on #1
also pretty sure this https://github.com/MrCrayfish/MrCrayfishGunMod/pull/54 is literally the same stack

[2020-06-12 05:03] otakup0pe opened #2 "crash on new chunks"
[code]

I sense this is related to recurrent complex and one of the structures I've been playing with. Haven't been able to repro yet.

[2020-06-13 17:50] otakup0pe commented on #2
The `cache1` rc structure was set to rotate and has some ie shit in it. Set it to not rotate, hoping that helps.

[2020-06-13 21:04] otakup0pe opened #3 "vanilla fences from plants planks"
Doesn't seem to be a thing (yet). May as well crafttweaker it in.

[2020-06-19 04:18] otakup0pe commented on #2
It seems to have helped? Gonna give it another week before closing.

[2020-06-19 04:23] otakup0pe opened #4 "mystical agriculture for post scarcity vibes only"
Started this with [`droplist.zs`](https://github.com/tribesthatmaybe/modpack/blob/mainline/src/scripts/droplist.zs) but should pull _everything_ not related to growing resources from mystical agriculture in this pack.

- [x] charms
- [x] remaining tools / weapons
- [x] armor

[2020-06-19 04:24] otakup0pe opened #5 "fix the title panorama shot"
i tried following [this](https://www.planetminecraft.com/blog/resource-pack-panoramas-guide-and-tips/) guide but it still looks kinda funky. probably some fov thing? Panorama shots live [here](https://github.com/tribesthatmaybe/modpack/tree/mainline/src/resources/ttmb/textures/gui/title/background)

[2020-06-19 04:28] otakup0pe opened #6 "all structures need to have natural floors"
Most [recurrent complex](https://www.curseforge.com/minecraft/mc-mods/recurrent-complex) structures in the pack just have sand floors. They need to be `#import`'d , modified with [natural floor](https://minecraft-recurrent-complex.fandom.com/wiki/Solid), and then re-`#export`'d and properly merged into the pack.

[2020-06-19 04:35] otakup0pe opened #7 "tune toasts"
starting in the black rock desert you ain't gonna find any oak. so we need to pull (at least) that toast. @ziz can you think of any others we should pull?

[2020-06-19 05:36] otakup0pe opened #8 "worldgen lag variances"
I'm assuming it's because of all the really pretty [recurrent complex](https://minecraft-recurrent-complex.fandom.com/wiki/Guide:_Making_a_Tree) trees kicking off cascading worldgen in the overworld that makes it untenably bad. Have gotten stuck in non-stop worldgen cycles where it just doesn't recover.

Was able to tune it a bit in the block rock desert, so will need to do the same in overworld.

[2020-06-19 06:10] otakup0pe opened #9 "geolosys ore in nether"
all the geolosys stuff is set to not show up in dimension `-1` and yet it's geolosys style ore in the nether.

[2020-06-19 06:49] otakup0pe opened #10 "more flexible speaker construction"
out of the box the [better records](https://www.curseforge.com/minecraft/mc-mods/better-records) mod needs nether quartz. since that is going to be gated, need to allow speakers to be constructed with normal quartz too.

[2020-06-19 18:33] ziz commented on #7
probably just kick all the tutorial/recipe book toasts to the curb? tutorializing is going to be in the form of the questbook and JEI is the recipe list. (I'm fond of the advancement toasts myself.)

[2020-06-20 01:13] otakup0pe opened #11 "too many facades"
i know it's possible to hide them from jei with them still being craftable bc other packs do it. it will save like five or six pages of inventory junk easily.

[2020-06-20 19:11] otakup0pe commented on #8
Added in a chunk [pregenerator](https://www.curseforge.com/minecraft/mc-mods/chunkpregenerator) mod and tuned it a bit. That, combined with tweaking all RC trees to never spawn seems to have helped?  On my local standalone creative play, it seems to be about the same as DDSS at least.

Leaving this open a little bit in case we still get timeouts on new worlds though.

[2020-06-20 19:37] otakup0pe commented on #7
`advancement toasts` being the ones which are displayed for non-quest advancements? yeah i want to keep those, and figure we'll tie lots of them to quest items.

[2020-06-21 05:47] otakup0pe opened #12 "localized chat chokes on customnpc world lines"
Oddly enough doesn't seem to be a problem with the interaction lines?

[code]
Looking at [this](https://github.com/kreezxil/Localized-Chat/blob/1.12.2/src/main/java/com/kreezcraft/localizedchat/ChatListener.java) line I think it's because the localized chat mod is expecting a certain interface that it ain't getting from the NPC.

Given the choice of localized chat and npcs, I'd probably pick the l

[2020-06-21 05:49] otakup0pe commented on #12
Filed something [upstream](https://github.com/kreezxil/Localized-Chat/issues/6) and pull localized chat for now.

[2020-06-23 00:14] otakup0pe commented on #4
Keeping the

* seeds / essences
* seed processors (all tiers)

[2020-06-24 05:10] otakup0pe commented on #8
Seems like it is still a problem.... Wonder what other structures need to be pulled.

[2020-06-24 12:44] hunnybear opened #13 "yellow/black bin lid overlaps causing z-fighting"
Need to fix the texture so that it doesn't overlap when closed
![image](https://user-images.githubusercontent.com/882671/85558604-e3ffdd00-b5f6-11ea-8427-d9205e729e06.png)

[2020-06-24 12:46] hunnybear commented on #13
not sure how to assign to myself, but this is mine

[2020-06-25 00:45] otakup0pe commented on #2
Calling this done now bc we aren't crasihng. Do still see occasional timeouts though, but that will be a separate issue.

[2020-06-25 00:45] #2 closed

[2020-06-25 00:46] otakup0pe commented on #4
Still a few charms which need to be pulled.

[2020-06-25 18:22] otakup0pe commented on #12
Seems to have been fixed upstream, will take a look.

[2020-06-25 18:23] otakup0pe commented on #7
I think the toasts are [fine now](https://github.com/tribesthatmaybe/modpack/blob/mainline/src/config/toastcontrol.cfg), thoughts @ziz ?

[2020-06-25 18:23] otakup0pe commented on #11
I think this is done but I need to confirm. Since they will not show up in JEI, will need to explicitly mention crafting them in a quest somewhere.

[2020-06-26 00:47] otakup0pe opened #14 "party kids missing from dirty rave"
When spawning the `test_party_kids` structure, it seems like the npc's are not being found on the server? It is still possible to spawn them in with the mob cloning tool though.

[2020-06-26 00:50] otakup0pe opened #15 "npc textures not always visible"
When mucking around on the server with Vivrik noticed that he couldn't see the textures for any of the npc's. They are being downloaded as skins directly from some mc skin site so that's probably causing problems. Try re-hosting on the ttmb s3 bucket?

[2020-06-26 01:56] otakup0pe commented on #14
Hmm. Had the clone files in the wrong location. They were in `/customnpcs/clones/` but need to be in `/world/customnpcs/clones`

Can spawn with `/noppes clone spawn Karen 1 ~-2,~,~-2` but not via RC script block.

[2020-06-26 02:01] otakup0pe commented on #8
Wondering if https://github.com/Ivorforce/RecurrentComplex/issues/398 has any relation.....

[2020-06-26 02:10] otakup0pe commented on #14
Ah looks like command blocks are disabled on the server.

![BORING](https://cdn.makeagif.com/media/9-04-2014/pvl7AV.gif)

[2020-06-26 02:34] otakup0pe opened #16 "spawn command takes you to overworld"
I kinda want to just pull the command in favor of "magical realism" but at the least we should try and have it take you to block rock desert spawn.

[2020-06-26 21:01] otakup0pe commented on #8
https://github.com/Ivorforce/RecurrentComplex/issues/155 seems to be the core issue tracking this.

seeing it in the block rock desert dimension too. may just tune down more structure generation....

[2020-06-26 21:20] otakup0pe commented on #8
Oh yeah definitely seeing this rolling around in BRD on an ATV. Stuff is spawning in hundreds of chunks away.

[2020-06-26 21:31] otakup0pe commented on #8
Hmmmm also possible that this is at least partially due to geolosys and is considered "won't fix"

https://github.com/oitsjustjose/Geolosys/issues/18

[2020-06-27 08:44] otakup0pe commented on #1
oh hey this again

[2020-06-28 16:42] ziz commented on #7
yeah, looks like 23002a5 resolved this

[2020-06-28 16:42] #7 closed, assigned to nobody

[2020-06-28 17:36] ziz opened #17 ""Such a User..." quest should reflect that narrator can be rebound"
https://github.com/tribesthatmaybe/modpack/blob/86b905542c5697c681cfb9d63a74b61fc6e8524e/src/config/betterquesting/DefaultQuests.json#L3002

The narrator can be rebound since 94d98fc and the quest should be updated to reflect that.

[2020-06-28 19:52] Vivrik opened #18 "Fairy Lights aren't saved as part of ReCom structures."
Issue detected via saving "TheBlackStar" in RecCom with white, meteor-style lights that were no longer present when structure was generated by command afterward to continue build.

[2020-06-28 19:54] ziz opened #19 "build process should be able to create unique versions"
It would be very nice for `make client` and the build actions and similar to create unique version numbers, to ease the turnaround on dev work while updating the modpack

Possibly using the date and/or `git describe`. Even better if they're semver compatible - see https://github.com/eins78/git-describe-semver for one example of how to turn describe output into semver compatible output, though it d

[2020-06-28 20:40] ziz commented on #5
As a note: using the Quark panorama generator (and setting the resolution to something reasonable like 1024) works - as long as you aren't flying in creative mode. (You could temporarily add the [NoFOV](https://www.curseforge.com/minecraft/mc-mods/nofov) mod locally to kill flying FOV changes before taking a panorama to get around this.)

[2020-06-28 20:52] Vivrik commented on #17
Deleted passage in question and adjusted following text to account for narrative gap.
Updated both default quest line and personal work file to reflect this.

[2020-06-28 20:52] #17 closed, assigned to Vivrik

[2020-06-28 22:13] otakup0pe commented on #15
Copied some of the `dat` files  into the new modpack release with the [`copy-paste`](https://www.curseforge.com/minecraft/mc-mods/copy-paste) mod but still doesn't seem to work.

[2020-06-28 22:24] otakup0pe opened #20 "need to be able to buy the "booms" blueprint"
Grenades and missiles now require the new "booms" ie blueprint. We should make sure that some ie villagers actually sell this.

[2020-06-28 22:27] #4 closed, assigned to otakup0pe

[2020-06-28 22:28] otakup0pe commented on #16
Ended up just disabling the `/spawn` command, which I think is appropriate. Thoughts @Vivrik @ziz?

[2020-06-28 22:51] otakup0pe commented on #6
Going to muck with the loot tables for the cache structures too.

[2020-06-29 01:17] otakup0pe commented on #6
New rc inventory generators include
* `gaypw_fluffer_snacks`
* `gaypw_roadworks`
* `gaypw_power`
* `gaypw_weapons`

[2020-06-29 03:15] ziz commented on #16
Leaving `/home` in place? Yeah, removing `/spawn` seems perfectly reasonable.

[2020-06-29 03:59] otakup0pe commented on #16
Not planning on it, just making waystones more accessible instead

[2020-06-29 04:01] #5 closed, assigned to ziz

[2020-06-29 04:16] ziz commented on #5
Note for reference in re NoFOV: you need to manually set your FOV to 90 before using Quark Panorama if you're using it, since Quark's FOV change is also blocked.

[2020-06-29 04:21] otakup0pe commented on #5
That's only relevant when taking panoramas? We gonna need a wiki lmao

[2020-06-29 15:09] ziz commented on #8
I do appreciate the shade, presumably thrown with careful investigation, directed at *waves hands* the rest of the Minecraft/Forge infrastructure [here](https://github.com/oitsjustjose/Geolosys/blob/1.12.x/changelog.md#200)

[2020-06-29 15:54] hunnybear commented on #13
sorry for slowness, I've been chemo sick all weekend

[2020-06-29 17:31] Vivrik commented on #16
I think /home should be maintained.
Enabling "free" back and forth travel early on seems like a bit much in lieu of a one-way "escape/return" option.
Maybe we could bump the xp consumption to 5l instead of 3l if we're making it accessible earlier?
Also, I'm not aware of other means of teleportation, so balance here could be tricky.

[2020-06-29 19:23] otakup0pe commented on #16
I pulled the various cyclic ender items which allow easy / cheap teleportation. Mekanism does have a late game teleporter. We could also conceptually allow `/home` until a certain level / achievement is achieved and then gate it out based on the `ranks.json` stuff.

In the mean time I'll make some changes to the default waystone config to help balance it out a bit.

[2020-06-29 21:08] #6 closed, assigned to otakup0pe

[2020-06-29 21:15] otakup0pe commented on #16
Added [`Waystones.cfg`](https://github.com/tribesthatmaybe/modpack/blob/mainline/src/config/Waystones.cfg). Highlights are

* travel costs 1 level of xp per 160 blocks and caps out at ten levels - default was 1 level per 500 blocks capping out at 3
* dimensional travel costs 5 levels instead of 3
* lower chance of waystones generating in villages

[2020-06-29 21:18] otakup0pe commented on #16
actually additions also has a "teleport staff"

we could also give players some warp scrolls which can be used to tie into a waystone as well.

[2020-06-30 00:10] otakup0pe commented on #18
I sense this is the same underlying issue with better records bits linking up with each other / the original structure as well. When I brought it up in the better records discord, SoundTech (lead dev?) said

[2020-06-30 04:52] Vivrik opened #21 "Booze Thirst & Poison Chance"
Need to get item ids and determine values for alcohol "thirst" and "poisonChance".
Current thoughts;
poisonChance:.3
thirst:10 (equivalent to rice crackers)

[2020-06-30 16:03] otakup0pe commented on #13
it's art;  there are no obligations here friend ☠️ 💖

hope you are feeling better

[2020-06-30 16:05] otakup0pe commented on #21
Need to test the thirst of rice crackers too heh.

[2020-06-30 17:15] otakup0pe commented on #8
Thinking of including [tick-dynamic](https://www.curseforge.com/minecraft/mc-mods/tick-dynamic), disabling the forge logs, and having some in-game messaging (via a lore sheet probably) around considerations when exploring.

It's not as bad on the server compared to the standalone, and not sure what else to do here.

[2020-06-30 17:53] otakup0pe commented on #19
![image](https://user-images.githubusercontent.com/254586/86159944-f038de00-babf-11ea-9861-00489c8a62c3.png)

ayyyyyy

[2020-06-30 17:53] #19 closed, assigned to otakup0pe

[2020-06-30 17:54] otakup0pe commented on #19
note this is only the first step. the next step will come when we start doing pull requests and junk. at that point i'll integrate the "auto bump" part of `avakas` so that we can do proper releases.

[2020-06-30 18:39] ziz opened #22 "Improve semver compliance in auto-versioned builds"
Followup to #19: The commit hash will not strictly increase and therefore doesn't satisfy semver precedence.

Should the hash be build-metadata rather than pre-release (so `ttmb-client-0.0.1+1c0ce837` instead of `ttmb-client-0.0.1-1c0ce837`)?   Or, even better, we could make the pre-release the date (`ttmb-client-0.0.1-alpha.20200630174612+1c0ce836`) to let precedence work properly on autogenerate

[2020-06-30 18:46] ziz commented on #8
+1 for tick-dynamic, it looks potentially pretty helpful.

[2020-06-30 18:54] otakup0pe commented on #22
From [semver.org](https://semver.org/) section 9

Nothing in here about pre-release / pre-build metadata needing to increase?

I agree that next steps should include a more clear alpha/beta distinction. That should come slightly before we start yeeting things into curseforge as non-pre-release artifacts built from the `mainline` branch.

[2020-06-30 19:36] ziz commented on #22
(Section 11)[https://semver.org/#spec-item-11] describes the precedence and
ordering of prerelease versions:

[code]

So if it is not strictly increasing the precedence of later prerelease
versions will not be strictly higher than earlier prerelease versions.

(I was not intending the inclusion of `alpha` in this proposal to be
majorly meaning loaded, just "it obviously namespaces the autogen
prer

[2020-06-30 19:38] ziz commented on #22
[Section 11](https://semver.org/#spec-item-11]) describes the precedence and
ordering of prerelease versions:

[code]

So if it is not strictly increasing the precedence of later prerelease
versions will not be strictly higher than earlier prerelease versions.

(I was not intending the inclusion of `alpha` in this proposal to be
majorly meaning loaded, just "it obviously namespaces the autogen
pre

[2020-06-30 21:16] hunnybear commented on #22
I definitely prefer the latter as well. Anything in the build section (after `+`) is ignored for precedence, this is exactly what I ended up setting up for our team at work

[2020-07-02 20:40] otakup0pe opened #23 "enter via d-lot"
We need an appropriate spawn point. The vibe on discord is it should be loosely modeled after the d-lot operational area from the gerlach regional burn. It should include

* decent amount of fresh (if not purified) water
* clearly visible signs giving people who have not played minecraft before some idea of how to play this terrible game
* cones and delineators
* more cones and delineators
* some

[2020-07-02 20:45] otakup0pe opened #24 "contenttweak iron chests"
Based on the discord conversation which resulted in #13 the rest of the iron chests should be tweaked to be more in-line with the theme. This should involve both the name/tooltip and the texture changing. No need to change recipes.

- [ ] copper ➡️ "cardboard box"
- [ ] iron chest ➡️ "janky plastic bin" (rubbermaid bin)
- [x] silver chest ➡️ "Black and Yellow Bin" (HDX bin inspired)
- [ ] obsidian

[2020-07-02 20:51] otakup0pe opened #25 "a website tho"
the ttmb website is still themed around the 2013 art piece. it should be updated. i'm learning towards an image heavy page that links out to sections covering

* how to play the thing
* how to contribute to the thing
* frequently asked questions about the thing

[2020-07-02 20:52] otakup0pe opened #26 "curseforge presence"
I guess that is still a thing for the forseeable future. Our (non-dev) artifacts should get uploaded to curseforge. At this point I don't care if it's automatic or not.

- [x] create a 1:1 aspect ratio image to be used by curseforge
- [x] register the modpack name on curseforge
- [x] smoke blocks

[2020-07-02 20:53] otakup0pe opened #27 "vehicle pick up"
Currently the mcv vehicles are set to not be able to be picked up. Which means we cannot use the jack to modify them once created. We should change it so you can pick up the mcv vehicles, and make sure the jack is actually craftable.

Should also throw a jack in the autoshop container.

[2020-07-02 20:55] otakup0pe opened #28 "common structure spawns"
There are a set of gaypw/partyops themed caches which show up in the world. This should be extended to include things which are less operational. Stuff like tents, hexayurts, monkeyhuts, shade structures. More shipping containers probably.

They should include minimal loot, with an emphasis on "survival". Food, water, etc.

[2020-07-02 20:58] otakup0pe opened #29 "robot poop"
The [alchemistry](https://www.curseforge.com/minecraft/mc-mods/alchemistry) mod provides a variety of active compounds. It does not however provide nitrous.

- [x] use contenttweaker to introduce a new metal press for cartridges
- [x] use crafttweakers [immersive engineering](https://docs.blamejared.com/1.12/en/Mods/Immersive_Engineering/CraftTweaker_Support/Metal_Press/) support to create the car

[2020-07-02 21:01] otakup0pe commented on #22
aite so i think this can be handled by using the `build` instead of `pre-build` flag for `avakas`. Slightly longer term (bc I'll need to mod avakas) we can add a `alpha` or `dev` prefix.

[2020-07-02 21:02] otakup0pe opened #30 "proper releases"
We currently have basic semver dev builds thanks to #19 although it does need a bit of work with #22

As the pack gets more stable, we will lock down the `mainline` branch. At that point work will happen via pull request. Upon tagged merges to `mainline` which contain "magic bump words" in commit messages, the version will get bumped and a new build will get kicked off.

These should be the builds

[2020-07-02 21:03] otakup0pe commented on #30
This should probably block #26  (curseforge presence)

[2020-07-02 21:08] otakup0pe opened #31 "fixed point oases"
From a chat on discord. In order to deal with some of the vagaries of worldgen seed variance, we should have fixed point oases a click or so from spawn in each cardinal direction. These would be natural structures, without tech or "loot boxes". The should include water, some non-desert plants (i think we can do this with [harvestcraft](https://github.com/MatrexsVigil/harvestcraft)?)

[2020-07-02 21:12] otakup0pe opened #32 "death is not the end questline"
This questline takes the player through how to use the [tombstone](https://www.curseforge.com/minecraft/mc-mods/corail-tombstone) mod. Other cheat-death items which can show up here such as the "second chance" extrautils items.

This also feels like a not inappropriate questline to include various kinds of xp mechanics such as the experience solidifier.

[2020-07-02 21:14] otakup0pe opened #33 "npcs are not vips"
I sense this is a "ranks dot json" kinda thing. NPCs using their world chat lines are prefixed in local chat as "VIP". We don't really need that.

[2020-07-02 21:18] otakup0pe opened #34 "multiblock purifier"
Filtering water by hand is boring. Make use of [modular machinery](https://www.curseforge.com/minecraft/mc-mods/modular-machinery) for the core purification structure. If we mix in the immersive engineering mixer / bottler then we can also leverage[questing](https://www.curseforge.com/minecraft/mc-mods/bq-multiblock-structure-integration) integration.

[2020-07-02 21:20] otakup0pe opened #35 "let the music play"
This questline takes the user through how to make tunes. Note that #10 should probably get done first.

* record player / radio
* wiring up speakers
* creating speakers
* laser effects / strobe
* mcf disc rack

Should also include the mcf radio, and possibly a catch-em-all record collection.

[2020-07-02 21:30] otakup0pe opened #36 "mod completion plz"
I think we are close to all the mods we need?

- [x] [wireless crafting terminal](https://www.curseforge.com/minecraft/mc-mods/wireless-crafting-terminal) for later game inventory magic
- [x] [better questing multiblock](https://www.curseforge.com/minecraft/mc-mods/bq-multiblock-structure-integration) for mutliblock / reurrent complex quests
- [x] [abyssalcraft](https://www.curseforge.com/minecraf

[2020-07-02 21:32] otakup0pe opened #37 "mod license research"
We need to pick a license before we go up on curseforge  - #26

Prior to that we should capture every mod plus their licenses. Some of this has been started in the (soon to be archived) meta repo. Outcome of this should just be a markdown doc with links to all the mods curseforge / github (if available) and a note on the license.

[2020-07-02 21:35] #11 closed, assigned to otakup0pe

[2020-07-02 22:30] Vivrik commented on #36
It's a hell of a good start.
We can always tweak, add, and prune as we go.
No need to deem anything "complete" or "permanent" for the moment being, yeah?

[2020-07-02 23:10] otakup0pe commented on #36
Adding / removing mods has changes to the worlds / save files. I'm hoping we can come to "mod complete" as part of the [first playable](https://github.com/tribesthatmaybe/modpack/milestone/1) milestone so there is an aspect of stability.

[2020-07-03 01:55] ziz commented on #30
To clarify my understanding: does this mean we'll create (git term-of-art) annotated tags, or does this mean we'll make commits that have specific keyphrases in them which the build system will look for?

My general preference, absent other input, is for a system that uses tags for releases, for ease of finding those points again in the future, so I'd like to make sure my assumptions are aligned w

[2020-07-03 02:14] ziz commented on #36
For the record: removing mods is a problem, adding mods is a generally more compatible change; I'd rather start with a slightly light set of mods and add some than add a bunch and decide we really would rather have not done so later.

That being said: the things we've got plus the mods you list here are everything I'm immediately aware of wanting.

[2020-07-03 03:09] otakup0pe commented on #30
`avakas` handles the creation of tags and keys off of them for generating proper version bumps. so each "release" artifact would have an associated tag.

[2020-07-05 19:07] ziz commented on #36
a suggestion, having just started to play with them and WHY THE HECK DIDN'T I USE THIS BEFORE THIS IS GREAT:

https://www.curseforge.com/minecraft/mc-mods/integrated-dynamics
https://www.curseforge.com/minecraft/mc-mods/integrated-tunnels

optionally, for more interaction, but not necessary:

https://www.curseforge.com/minecraft/mc-mods/integrated-terminals
https://www.curseforge.com/minecraft/mc-

[2020-07-05 19:37] otakup0pe commented on #36
I'm down for `integrated-dynamics`, `integrated-tunnels`, and `integrated-rest`. The terminals/crafting bit duplicates ae2. Project red is easier than ID but can achieve the same functionality I think.

[2020-07-05 19:43] ziz commented on #36
Yeah, I haven't tried terminals/crafting, and they seem not necessary with ae2.

Project Red related: the redstone wires do have an easy ID equivalent, but the redstone logic blocks (sequencer, comparator, timer, etc) do not, so far as I'm aware.

[2020-07-05 19:56] ziz commented on #36
...not 6, 36. https://github.com/tribesthatmaybe/modpack/commit/792ff0c876dbd9306794f331f70c4102fa1905cf

[2020-07-06 01:23] otakup0pe commented on #36
rest of them added in f25c3d6fc18b699cfc842a5073a1d07906e5745f

[2020-07-06 01:23] #36 closed, assigned to otakup0pe

[2020-07-06 01:23] otakup0pe commented on #27
this was done in f25c3d6fc18b699cfc842a5073a1d07906e5745f

[2020-07-06 01:23] #27 closed, assigned to nobody

[2020-07-06 01:24] otakup0pe commented on #27
well not the autoshop bit but pretty sure the ae2 container has enough shit to make one

[2020-07-06 01:25] otakup0pe commented on #25
beep boop a jekyll [website](https://github.com/tribesthatmaybe/tribesthatmaybe.github.io), issues will end up transferred there

[2020-07-06 01:25] #25 closed, assigned to otakup0pe

[2020-07-06 05:43] otakup0pe opened #38 "mod pruning?"
some stuff ended up in the pack that i'm not sure we actually need?

- [x] [climate control / geologicraft](https://www.curseforge.com/minecraft/mc-mods/climate-control-geographicraft) biometweaker  / realistic terrain generator handles this?
- [x] [perfect spawn](https://www.curseforge.com/minecraft/mc-mods/perfect-spawn) i think we tried this before just enough dimension
- [x] [craftdumper](http

[2020-07-06 19:02] otakup0pe commented on #31
Took a first shot at this with `spawn_oasis1` that has some fresh water and bamboo shoots.

[2020-07-06 19:03] otakup0pe commented on #23
First cut of `spawn_lot` structure is up. Need to figure out how to not have it mix with villages even though the outcome is fucking hilarious.

![image](https://user-images.githubusercontent.com/254586/86629780-c03a8080-bf80-11ea-8380-a70fc1bb5532.png)

[2020-07-06 19:04] otakup0pe commented on #23
Threw a bunch of vehicles in there as well, although they do not have fuel. Players will still need to find the `fuel_cache` structure (or jerry cans in loot boxes or whatever)

[2020-07-06 19:21] otakup0pe commented on #23
Another issue is that sometimes the spawn just doesn't happen? Seems to be related to an intersection between jed and rc.

https://github.com/Ivorforce/RecurrentComplex/issues/319

[2020-07-06 19:43] Vivrik commented on #23
Next time you're playing, import "VDLot".
It's more of an ingress area I threw together and saved in ReCom, but it should be a decent starting point. Plus, it's got lever-activated traffic control arms! :D
Also, it fits within a 32x32 space so it doesn't cross the threshold ReCom apparently has trouble with.

[2020-07-06 19:55] otakup0pe commented on #23
Will check it out! I wasn't able to get the traffic control arms working when I played with them last.

[2020-07-08 15:54] otakup0pe commented on #23
Looks like people have good luck with [worldprimer](https://www.curseforge.com/minecraft/mc-mods/world-primer) to force spawn configs. Could alternatively use jed's schematic spawn support, but worldprimer gets us more things.

[2020-07-12 05:06] otakup0pe commented on #37
did the [research](https://github.com/tribesthatmaybe/modpack/blob/mainline/docs/mods.md) and got the [license](https://github.com/tribesthatmaybe/modpack/blob/mainline/LICENSE.md) file together. will just go with "custom" on curse i'm sure

[2020-07-12 05:06] #37 closed, assigned to otakup0pe

[2020-07-12 05:07] otakup0pe commented on #3
almost done. can make dark oak fences from the black karui wood but only 1x not 3x heh

[2020-07-12 05:57] otakup0pe commented on #26
[honk](https://www.curseforge.com/minecraft/modpacks/tribes-that-may-be)

[2020-07-12 06:59] otakup0pe opened #39 "initial playthrough notes"
- [x] introduce wall jumping early in quest
- [x] black kauri plank door / hatches
- [x] craft dirt from biomass (clay, wood, flesh)
- [x] introduce basic storage (chests) early on
- [x] stairs, ladders, rope ladder in brd questline
- [x] reprofile jer bc there is def hematite and redstone/cinnabar in brd
- [x] ore distribution is whack. hematite needs to be more common.

[2020-07-12 16:43] otakup0pe commented on #32
Given the recent demise of the tombstone mod this may not actually need an entire quest line? Certainly a subset. Maybe a metaphor about creature comforts.

[2020-07-12 16:44] otakup0pe commented on #23
Fucked around a bunch and I'm relatively happy with how it looks now? It will still occasionally intersect with a village but whatever; burners do ruin everything. Need to add more "educational" content but otherwise we good.

[2020-07-12 16:56] otakup0pe commented on #31
Not interested in non-desert plants because

a) you can pull some from villagers
b) mystcraft is gonna be wild

[2020-07-12 16:56] #31 closed, assigned to nobody

[2020-07-12 19:00] otakup0pe commented on #26
And the client/server files have been [approved](https://www.curseforge.com/minecraft/modpacks/tribes-that-may-be/files/3003055) so calling this done until I decide it's worth trying to automate uploads.

Smoke blocks every day ![](https://i.pinimg.com/originals/48/61/91/4861918069f05ffdfa00064316a20d4f.gif)

[2020-07-12 19:00] #26 closed, assigned to otakup0pe

[2020-07-12 20:51] otakup0pe commented on #39
* Added a bunch of black kauri ➡️ dark oak things. For mods with a framing table, made sure that can be made, if not the specific dark oak things.
* Also added a 4x dirt construction from 4x clay, 4x rotten flesh, 1x (oredict) log

[2020-07-15 03:25] hunnybear commented on #13
Fixed in [3f9d1a8](https://github.com/tribesthatmaybe/modpack/commit/3f9d1a8aea7ae3c6db3c1a291d974dab40339fa7)

[2020-07-15 03:25] #13 closed, assigned to hunnybear

[2020-07-15 03:26] hunnybear commented on #24
This sounds like a job for a HunnyBear, if no one else is excited about it

[2020-07-15 03:42] otakup0pe commented on #24
yea it is 🍯 🐻

[2020-07-16 16:17] otakup0pe commented on #10
Turns out that `geolosys` "quarts clusters" include nether quartz so....

[2020-07-16 16:17] #10 closed, assigned to nobody

[2020-07-17 01:41] otakup0pe commented on #39
Some more notes from a quick session with a buddy of mine who is no stranger to video games but had never mined a craft before. Some are actionable some are not quite.

* people are going to seek shelter in the container at night but they can't sleep there.
* they commented that it's odd that there is a village _right_ there (most seeds i've seen have a village right by d-lot)

- [x] needs to be m

[2020-07-17 06:33] otakup0pe opened #40 "ignore memory_repo mod path"
This is some kinda core_mod junk that gets wiped by `devtool.py sync` every time. It's regenerated and handled by forge so we should probably just ignore it. Save some bytes being yeeted from existence unnecessarily.

[2020-07-17 06:34] otakup0pe commented on #3
buncha stuff can be made with black kauri now. including paneling tables.

[2020-07-17 06:34] #3 closed

[2020-07-17 06:35] otakup0pe commented on #12
seems like the upstream fix has worked, at least i haven't seen any crashes in a bit since re-enabling it despite hanging around old blood and third year joe a bunch.

[2020-07-17 06:35] #12 closed, assigned to otakup0pe

[2020-07-17 06:35] otakup0pe commented on #14
considering this done until someone tells me otherwise

[2020-07-17 06:35] #14 closed, assigned to otakup0pe

[2020-07-17 06:40] otakup0pe commented on #15
this has never been a problem for me. @hunnybear  / @Vivrik can you reproduce this bug still?

[2020-07-18 02:16] otakup0pe commented on #15
@Vivrik says it's working so hoooooray

[2020-07-18 02:16] #15 closed, assigned to otakup0pe

[2020-07-18 02:17] otakup0pe commented on #8
`tick-dynamic` is crashy a f

gonna call this done vOv

[2020-07-18 02:17] #8 closed, assigned to nobody

[2020-07-18 03:13] otakup0pe opened #41 "devsync copy single config file"
Added a `--only config` option to the `sync` command but even that takes more than a hot moment. Probably should add the ability to one step copy a config file to make iteration easier like when some punk makes hematite too hard to find.

[2020-07-18 07:17] Vivrik opened #42 "BQuesting-"Ride or Die" Visibility"
The visibility property for the "Ride or Die" quest line can be changed to hide the quest line, but the change doesn't persist between running `bq_admin default save <name>` and `bq_admin default load <name>` .

Tested and reproduceable with both aux bq_admin files and default.

Relogging did not solve the issue.
Restarting client doesn't seem to be a likely fix, but is currently untested.

No not

[2020-07-19 01:43] otakup0pe commented on #42
Pretty sure the issue is that the hell station quest has no dependencies so it will always be showing as unlocked. I've fixed it by moving that quest to the BRD questline (along with the other east egg / quest line opening things) and am testing now.

[this](https://github.com/Funwayguy/BetterQuesting/wiki/Visibility-and-Logic) wiki page is hella useful.

[2020-07-19 06:46] otakup0pe commented on #39
Can't seem to get `/jer_profile` to work without crashing anymore 😬  https://github.com/way2muchnoise/JustEnoughResources/issues/243

[2020-07-19 16:13] otakup0pe commented on #39
Wild. Fresh install of the same pack and managed to profile with 1000 chunks (original was only 10). I remain quite suspicious. Will have to reprofile again anyway after we get geolosys ore distribution to feature more hematite.

[2020-07-19 17:51] otakup0pe commented on #42
considering this closed i guess

[2020-07-19 17:51] #42 closed, assigned to otakup0pe

[2020-07-19 18:25] otakup0pe commented on #16
Closing this out. Non-single-use / non waystone teleport things are gated on a magic skill level of 28.

[2020-07-19 18:25] #16 closed, assigned to nobody

[2020-07-25 05:56] otakup0pe commented on #39
First pass at unfucking ore distribution in 963c7228. Also disabled view bobbing default.

[2020-07-25 06:01] #38 closed, assigned to otakup0pe

[2020-07-25 06:01] otakup0pe commented on #33
not seeing this anymore? i'm assuming it went away as part of the fix for #12

[2020-07-25 06:01] #33 closed, assigned to nobody

[2020-07-25 06:02] otakup0pe commented on #9
the geolosys ore was showing up as part of cyclic. closing this out but at some point will want to probably give geolosys a once-over to have non-block rock desert ore generation.

[2020-07-25 06:02] #9 closed, assigned to nobody

[2020-07-28 04:32] otakup0pe commented on #23
calling this done. will flesh out the "orientation" command blocks.

[2020-07-28 04:32] #23 closed, assigned to otakup0pe

[2020-07-28 06:02] otakup0pe opened #43 "akashic tome quest broken"
* black kauri makes oak bookcase
* quest needs dark oak bookcase

[2020-07-28 06:38] otakup0pe commented on #43
fixed it by making the bookshelf ore dict'd

[2020-07-28 06:38] #43 closed, assigned to otakup0pe

[2020-07-28 06:53] Vivrik opened #44 "Spice of Life, Too Spicy?"
Heart gain from eating new foods is so fast that a full second row of hearts can be gained in a couple hours.

Possible solutions;
Decrease number of hearts gained per instance (currently 2).
Increase number of foods necessary to be eaten for new hearts.
Both those things.

[2020-07-28 16:51] otakup0pe commented on #39
started storage / vertical movement quest trees in dd28e519

[2020-07-29 04:31] otakup0pe commented on #44
took a [first pass](https://github.com/tribesthatmaybe/modpack/blob/mainline/src/config/solcarrot.cfg) at the configuration, how does it look?

[2020-07-29 07:18] otakup0pe commented on #39
walljump lore via gameplay category, threw a keymap sign in the spawn lot, more encouragement to use the map in 4a096be7

[2020-07-29 07:18] #39 closed, assigned to nobody

[2020-07-29 07:18] otakup0pe commented on #28
added a tent and a box style structure in 4a096be7

[2020-08-01 20:30] otakup0pe commented on #44
calling this :ok: for now

[2020-08-01 20:30] #44 closed, assigned to otakup0pe

[2020-08-01 22:00] otakup0pe opened #45 "allow dying of crayfish furniture"
should be able to crafttweaker this in. all the quest items rely on white cotton, but we should allow people to change the color after the fact.

[2020-08-01 22:14] otakup0pe commented on #35
added in 289db53

[2020-08-01 22:14] #35 closed, assigned to nobody

[2020-08-05 06:44] otakup0pe commented on #22
revived `avakas` so gonna do this. will have it include the date as a prefix in prebuild/build meta

also found this gem in the readme

i wonder what tool i was mad at all those years ago 🤷‍♂️

https://github.com/otakup0pe/avakas/issues/26

[2020-08-08 05:58] otakup0pe opened #46 "why is avakas invoked twice"
once in the `Makefile` and once in the gha `build` workflow.

seems annoying.

[2020-08-08 07:27] otakup0pe commented on #22
![semver artifacts](https://user-images.githubusercontent.com/254586/89704958-df288b80-d90d-11ea-98a5-0e3c0c2e5910.png)

[in this build](https://github.com/tribesthatmaybe/modpack/actions/runs/200171234)

[2020-08-08 07:27] #22 closed, assigned to otakup0pe

[2020-08-08 07:30] otakup0pe commented on #30
- [x] introduce auto bump bits (can crib from [avakas](https://github.com/otakup0pe/avakas/blob/mainline/.github/workflows/build.yml#L36-L60))
- [x] update dev server on all commits to `mainline`
- [x] upload to curseforge on tagged commits to `mainline` - no build / prebuild date version bits tho
- [ ] upload all mainline builds to curseforge with build/prebuild bits as needed
- [x] introduce bra

[2020-08-08 18:42] otakup0pe commented on #46
fixed this. just pull from the same `.version` file that is generated once by the makefile ( https://github.com/tribesthatmaybe/modpack/commit/b9c85d39a5934c931379f907e2d8de5057283f37 )

[2020-08-08 18:42] #46 closed, assigned to nobody

[2020-08-09 01:54] otakup0pe opened #51 "remove multiblock saws from game"
between blockcraftery, chisel & bits, and the fact that it's possible to corrupt worlds when you light cut up multiblock things on fire, we should just remove those saws from the game

[2020-08-11 05:31] otakup0pe opened #54 "add more grillable meats"
Burning Man is canceled, America is overrun with white supremacy, I just want to grill for discordia's sake.

![image](https://user-images.githubusercontent.com/254586/89860529-83057780-db58-11ea-8183-9e9684a79bdc.png)

all the grillables but at _least_

- [x] chicken
- [x] porkchop
- [x] salmon
- [x] tofurkey
- [x] tofacon
- [ ] shrimp

[2020-08-11 05:59] otakup0pe commented on #30
all this is done just needs docs updated. decided to not update on every mainline build.

[2020-08-11 06:12] otakup0pe opened #55 "hang glider not craftable"
we kinda want that because it is just so rad and pairs well with the jetpack. wondering if it's related to the built in recipe disabling.... maybe related to the pointer according to a four year old github issue is tumbled into.

[2020-08-17 06:53] #32 closed, assigned to nobody

[2020-08-17 06:53] #51 closed, assigned to nobody

[2020-08-17 06:54] #28 closed, assigned to nobody

[2020-08-23 01:20] hunnybear commented on #24
how about this for progression (added extra levels of the bins):
- [x] copper ➡️ "cardboard box"
- [x] iron chest ➡️ "janky plastic bin" (rubbermaid bin)
- [x] silver chest ➡️ "Janky plastic bin with duct tape"
- [x] gold chest  ➡️ "Black and Yellow Bin" (HDX bin inspired)
- [x] diamond chest  ➡️ "Black and Yellow Bin with good Label
- [ ] obsidian chest ➡️ "Hardened Case" (Pelican case inspired)

[2020-08-23 07:14] otakup0pe commented on #24
down with this :100:

[2020-08-23 18:21] otakup0pe commented on #21
Rice crisypy treats and crackers will increase your thirst, everything else has been tuned "appropriately" . Only a few types of have the base poison chance.

[2020-08-23 18:23] otakup0pe commented on #34
@hunnybear we should figure out what these textures look like too. i've never done the modular machinery bit but was thinking we could make some kind of filtration machine for it. Maybe 2x2, custom blocks with a burner jank aesthetic?

[2020-08-23 18:25] otakup0pe commented on #29
@hunnybear this is another one we could use some textures / models for.

* metal press mold for the cartridge
* cartridge itself

[2020-08-23 23:06] #21 closed, assigned to nobody

[2020-08-25 16:43] otakup0pe opened #60 "worldprimer not reloading quests?"
they were out of sync on the dev server last night which shouldn't happen. maybe have the devsync script do it?

[2020-08-26 14:41] hunnybear commented on #24
finished diamond this morning over coffee, might knock out obsidian tonight /estimate 30m

[2020-08-29 04:44] otakup0pe opened #66 "cannot craft fancy storage drawers with black kaurauki"
Looks like they are oreDict'd to non-framed drawers. Support using framed drawers for it I guess. Same with compacting drawer, controller, etc.

[2020-08-29 04:46] otakup0pe opened #67 "cannot make bibliocraft saw with black kaurauki planks"
need this saw to make framing table for bibliocraft furniture so should probably fix that.

also framing sheet needs to be craftable with black kaurauki

[2020-08-29 22:42] #41 closed, assigned to nobody

[2020-08-30 06:00] #66 closed, assigned to otakup0pe

[2020-08-30 06:00] #67 closed, assigned to otakup0pe

[2020-08-30 06:11] otakup0pe commented on #30
#68 adds the last few docs i guess 🌳

[2020-08-30 06:11] #30 closed, assigned to otakup0pe

[2020-08-30 06:37] otakup0pe commented on #60
definitely saw this work properly in the 1.2.2 ➡️ 1.2.3 transition so who the fuck knows

[2020-08-30 06:37] #60 closed, assigned to nobody

[2020-08-30 18:14] otakup0pe opened #69 "blazingstar drops occasional blaze"
Should be able to do this using the `dropt` mod. One of the rare sources of blaze in the block rock desert.

[2020-08-30 18:15] otakup0pe opened #70 "asian mustard drops occasional mustard seed"
What it says on the tin. Add a bit of spicy variety.

[2020-08-30 18:17] otakup0pe opened #71 "craftable hops"
Because grass is super rare in the block rock desert. Something like T2 crafting seed, 4x seed, 4x stacks of playa dust?

[2020-08-30 18:18] otakup0pe opened #72 "remove aa greenhouse glass"
we use the serene seasons greenhouse glass. crop growth benefit comes from growth accelerators + sprinkler

[2020-09-01 04:51] #69 closed, assigned to nobody

[2020-09-01 04:51] #70 closed, assigned to nobody

[2020-09-01 04:51] #71 closed, assigned to nobody

[2020-09-01 04:51] #72 closed, assigned to nobody

[2020-09-05 21:37] otakup0pe opened #85 "re-host all skins on assets.ttmb"
* party kids
* third year joe
* badger
* sunshine
* tumbleweed farmer
* ???

[2020-09-07 19:36] otakup0pe opened #88 "unable to craft journal"
which means if you lose the first one you lose it for ever. create some relatively low key crafting recipe for it.

[2020-09-08 00:09] otakup0pe opened #89 "lantern crash"
i've noticed that sometimes the bibliocraft lanterns do not properly render in single player when rc structures are generated. clicking/right clicking on the lanterns is a crash.

in one case (`VillageIndustrySupply`) the lantern properly showed up upon relogging. in the other (`surj_sign1`) it did not

[2020-09-08 05:34] otakup0pe opened #90 "noclassdeffound crash when rendering crystal caves"
[code]

oddly it seems to be happening more since i turned the caves down a bit

[2020-09-24 01:39] #20 closed, assigned to nobody

[2020-11-02 17:52] daan7008 opened #93 "Nausea"
Add this for more drunkiness feel https://www.curseforge.com/minecraft/mc-mods/custom-nausea

[2020-11-02 17:52] daan7008 opened #94 "Suggestion Nausea"
Add this for more drunkiness feel https://www.curseforge.com/minecraft/mc-mods/custom-nausea

[2020-11-02 18:48] otakup0pe commented on #93
dupe of #94

[2020-11-02 18:48] #93 closed, assigned to nobody

[2020-12-28 20:19] #88 closed, assigned to nobody

[2021-01-21 00:27] #55 closed, assigned to nobody